.buisness-card {
  width: 160px;
  height: 100px;
  z-index: 999;
  margin-top: 62px;
}

.buisness-card::before {
  top: 9%;
  z-index: -1;
}

.buisness-card-title {
  margin-top: 60px;
}
